@import "../../scss/mixins";

.notfound {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// form card

.card {
  @include flex-container();
  align-items: flex-start;
  margin-top: 20px;
  padding: 0 10px;
  height: 100vh;
  @media screen and (max-width: 1024px) {
    height: auto;
  }
  div {
    flex: 1;
    padding: 0 5px;
    @media screen and (max-width: 920px) {
      &:nth-child(2) {
        order: 1;
      }
    }
  }
  .card-creator {
    font-size: 22px;
    padding-top: 30px;
    h1 {
      font-weight: 700;
      margin-bottom: 16px;
    }
    div {
      margin-bottom: 16px;
    }
  }
  .card-total {
    padding-top: 30px;
  }
  .card-img {
    @media screen and (max-width: 920px) {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 920px) {
    flex-direction: column-reverse;
  }
}

.form-book {
  div {
    @include flex-container();
    @include bold-fonts();
    margin-bottom: 20px;
    input[type="number"] {
      max-width: 100px;
      text-align: center;
      padding: 5px 5px 5px 18px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 6px;
      &:hover {
        background-color: #f2f2f2;
      }
      &:focus {
        outline: none;
        border-color: #768793;
        box-shadow: 0 0 5px #75848e;
      }
    }
  }
  button {
    float: right;
  }
}
