.filter-container {
  .label {
    font-family: sans-serif;
    font-size: 19px;
    padding-right: 10px;
  }

  .select {
    font-size: 19px;
    width: 180px;
    outline: none;
    height: 40px;
    padding: 5px 10px;
    border-radius: 4px;
  }
}
