.footer {
  background: #624fa6;
  text-align: center;
  padding: 50px;

  h2 {
    font-size: 24px;
    color: rgb(36, 61, 36);
    @media screen and (max-width: 768px) {
      font-size: 19px;
    }
    a {
      text-decoration: none;
      color: aliceblue;
    }
  }
}
