.searchBook {
  width: 300px;
  height: 40px;
  border: 1px solid rgb(102, 82, 82);
  padding: 1px 0 0 50px;
  font-size: 19px;
  color: rgb(118, 103, 116);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  outline: 0;
}
